<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.mapper.BookStateMapper">

    <resultMap id="BaseResultMap" type="com.example.demo.domain.BookState">
            <result property="bookid" column="bookid" jdbcType="INTEGER"/>
            <result property="kind" column="kind" jdbcType="VARCHAR"/>
            <result property="state" column="state" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        bookid,kind,state
    </sql>
</mapper>
